apiVersion: v1
kind: Service
metadata:
  name: {{ include "topic-freshness-exporter.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .Chart.Name }}
  ports:
  - name: http
    port: 8000
    targetPort: 8000
